/* ===================================================
Regions
=================================================== */
.r-header {
	background-color: aliceblue;

	.header__headline {
		font-size: 3rem;
		text-align: center;
	}
}

.r-main {
	margin: 1rem 0;
}

.r-footer {
	background-color: antiquewhite;
}