/* ===================================================
Section Componrnz
=================================================== */

.c-section {
	padding: 2rem 0;
	margin-bottom: 2rem;

	/*
	Elements
	----------------------- */
	.section__header {
		padding: 1rem 0;
	}

	.section__headline {
		font-size: 2.8rem;
		text-transform: uppercase;
	}
}