/* ===================================================
Logo COmponent
=================================================== */

.c-logo {
	opacity: 1;

	.logo__img {
		max-width: 180px;
		height: auto;
	}
}